name: Deploy Projeto

on:
  push:
    branches:
      - main

jobs: 
  build:
    runs-on: ubuntu-latest
    name: Build artifact
    steps:
      - uses: actions/checkout@v2
        name: Setup Node.js
        run: npm ci

      - name: Build Project
        run: npm run build
      
      - name: Creating deployment artifact
        env: 
          GITHUB_SHA : ${{ github.sha}}
        run: tar -czf "${GITHUB_SHA}".tar.gz build
      
      - name: Storing artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-build
          path: ${{ github.sha}}.tar.gz
